name: Image deploy
on:
  release:
    types:
      - published

jobs:

  build-image-and-push:
    name: Build docker image and push
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get tag semver
        uses: battila7/get-version-action@v2
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        env:
          NEW_IMAGE_VERSION: ${{ steps.get_version.outputs.version-without-v }}
        with:
          push: true
          tags: |
            leocode/puppeteer-service:latest
            leocode/puppeteer-service:${{ env.NEW_IMAGE_VERSION }}
